<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Slides</title>
    <link rel="stylesheet" href="styles/app.css">
    <script src="scripts/libs/angular.min.js"></script>
    <script src="scripts/libs/angular-route.min.js"></script>
    <script src="scripts/libs/angular-animate.min.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers.js"></script>
    <script src="scripts/directives.js"></script>
    <script src="scripts/filters.js"></script>
    <script src="scripts/services.js"></script>
</head>
<body data-ng-app="slideView" data-ng-controller="mainController">

    <div id="nav" data-ng-controller="navController" data-nav>
        <div id="arrows">
            <a id="prev" data-ng-click="$navigate.prev()">&#9668;</a>
            <a id="next" data-ng-click="$navigate.next()">&#9658;</a>
        </div>
        <div id="pagination">
            <a data-ng-repeat="route in $navigate.routes" data-ng-click="$navigate.to(route)" data-ng-class="{'active': active(route)}"></a>
        </div>
    </div>

    <div id="view" data-ng-class="direction">
        <div class="content" data-ng-view></div>
    </div>

</body>
</html>