.ng-enter {
    -webkit-transform: translateX(100%);
       -moz-transform: translateX(100%);
            transform: translateX(100%);
}
.ng-enter-active {
    -webkit-transform: translateX(0%);
       -moz-transform: translateX(0%);
            transform: translateX(0%);
}
.ng-leave {
    -webkit-transform: translateX(0%);
       -moz-transform: translateX(0%);
            transform: translateX(0%);
}
.ng-leave-active {
    -webkit-transform: translateX(-50%);
       -moz-transform: translateX(-50%);
            transform: translateX(-50%);
}
.reverse .ng-enter {
    -webkit-transform: translateX(-100%);
       -moz-transform: translateX(-100%);
            transform: translateX(-100%);
}
.reverse .ng-enter-active {
    -webkit-transform: translateX(0%);
       -moz-transform: translateX(0%);
            transform: translateX(0%);
}
.reverse .ng-leave {
    -webkit-transform: translateX(0%);
       -moz-transform: translateX(0%);
            transform: translateX(0%);
}
.reverse .ng-leave-active {
    -webkit-transform: translateX(50%);
       -moz-transform: translateX(50%);
            transform: translateX(50%);
}
